# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual environment
.venv/
env/
ENV/

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS
.DS_Store

# Docker
*.tar
*.img

# Envs and Secrets
.env